<div class="container">
  <h2 class="text-center mb-4">New Book</h2>

  <%= form_with model: @book, local: true do |f| %>
    <% if @book.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: 'users/form_fields', locals: { f: f } %>

    <div class="form-group text-center">
      <%= f.submit "Create Book", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
