<div class="form-group">
  <%= f.label :title, "Title", class: "control-label" %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :body, "Opinion", class: "control-label" %>
  <%= f.text_area :body, class: "form-control", rows: 4 %>
</div>

